name: build and release
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: prerequisite
      run: sudo apt-get install -y libkrb5-dev
    - name: submodule
      run: git submodule update --init --recursive
    - name: make and publish
      run: |
        make
        gh release upload ${{github.event.release.tag_name}} WithMakeBuild/adbc_driver_netezza.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload distributions
      uses: actions/upload-artifact@v4
      with:
        name: release-dists
        path: src/python/dist

  publish-to-pypi:
    name: Publish Python distribution to PyPI
    needs:
    - build
    runs-on: ubuntu-latest

    environment:
      name: nz-adbc-release
      # url: https://pypi.org/p/YOURPROJECT

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    
    steps:
      - name: Download distribution artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          username: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
